@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

body{
    font-size: 18px;
    font-family: 'Space Grotesk', sans-serif;

}
.container{
    display: flex;
    color: black;
   height:900px;
}
.card-front,.card-back{
    width: 400px;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
}
.card-front{
    background-image: url("../images/bg-card-front.png");
    position: absolute;
    top: 20%;
    left: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;

}
.card-back{
    background-image: url("../images/bg-card-back.png");
    left:20%;
    top: 60%;
    position: absolute;

}
.box-1{
    background-color: hsl(278, 68%, 11%);
    width: 35%;
    color:white;

}
.box-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 25%;
    padding:10%;
}
.name{
display: flex;
flex-direction: row;
gap: 200px;
}
.card-number{
    font-size: xx-large;
}
.input-t{    width: 300px;
    height: 35px;
}
.n>input{
    height: 50px;
    width: 20%;
}
.form>input{
    color: hsl(270, 3%, 87%);
}
 
.cvc-i{
    height: 50px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.confirm{
background-color:    hsl(278, 68%, 11%);
color: white;
height: 50px;
font-size: large;

}
